[Desktop Entry]
Type=Application
Name=ARC Launcher
Comment=Start ARC Desktop Environment
Exec=/home/admin/ARC/venv/bin/python /home/admin/ARC/launcher.py
Path=/home/admin/ARC
Terminal=false
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true

